@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    height: 100%;
  }

  .block-one {
    padding-left: 121px;
  }

  .sinhro {
    width: 112px;
    height: 66px;
    margin-top: 21px;
  }

  .list-one {
    display: flex;
    margin-top: 100px;
  }
  .ops {
    margin-left: 25px;
  }

  .list-one img {
    width: 20px;
    height: 22px;
  }

  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
    margin-left: 10px;
  }

  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    margin-top: 29px;
    margin-bottom: 0;
    color: #000000;
  }

  .second {
    display: flex;
    justify-content: space-between;
  }

  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }

  .man-order {
    width: 304px;
    height: 356px;
    margin-right: 246px;
    margin-bottom: 25px;
  }
  .block-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 483.63px;
    height: 200px;
    background: #1e4681;
    border-radius: 5px;
    margin-left: 272px;
    margin-top: 70px;
  }

  .block-blue div {
    width: 430.59px;
    height: 113px;
  }

  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    /* padding: 19.26px 27.02px 67.74px 26.03px; */
    margin: 0;

    color: #ffffff;
  }

  .block-blue span {
    color: #ffffff;
    margin-left: 257px;
    font-size: 18px;
  }
  .kurs {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 100.41px;
    color: #000000;
  }

  .wrappers {
    display: flex;
    justify-content: space-between;
  }

  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }

  .text-block-one {
    width: 662px;
    height: 374px;
  }
  .logo {
    width: 314px;
    height: 315px;
    margin-right: 153px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }

  .logo-two {
    width: 232px;
    height: 203px;
  }

  .tt {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 157px;
    margin-right: 250px;
    position: relative;
  }

  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }

  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }
  .em {
    top: 185px;
    width: 189px;
    height: 32px;
    position: absolute;
    border-radius: 45px;
    z-index: -1;
    left: 32px;
  }

  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 178px;

    color: #000000;
  }

  .format-lessons {
    display: flex;
  }

  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1e4681;
  }

  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }

  .nn {
    margin-left: 122px;
  }
  .nnn {
    margin-left: 113px;
  }

  .whats-new {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 179px;
    color: #000000;
  }

  ul {
    margin-top: 21px;
  }

  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }

  .programs {
    margin-left: 121px;
    margin-top: 248px;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }

  .painters {
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
  }

  .painters img {
    width: 26.5vw;
  }
  .card {
    margin: 2.27vw;
    width: 26.5vw;
    height: 22vw;
    border-radius: 8%;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    height: 51.22%;
    padding: 5%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ui {
    margin: 0;
    font-size: 2.08vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
  }

  .uii {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    font-size: 2.08vw;
  }

  .uu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .uuu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .person {
    margin-top: 121px;
    background: #efefef;
    padding-left: 122px;
    padding-top: 91px;
    padding-bottom: 111px;
  }

  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 34px;
  }

  .block-person {
    height: 451px;
    width: 791px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 523px;
  }

  .block-person p {
    padding: 40px 46px 0px 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }

  .info-about-person {
    display: flex;
    margin-top: 10px;
    margin-left: 26px;
    margin-bottom: 29px;
  }

  .info-about-person p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
  }

  .fb {
    width: 32px;
    height: 31px;
    margin-left: 45px;
    margin-bottom: 68px;
  }

  .money {
    background: #9dc9c8;
    padding-left: 122px;
    padding-top: 179px;
    padding-right: 470px;
    padding-bottom: 185px;
  }

  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 0;
  }

  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 54px;
    margin-bottom: 0;
  }

  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
  }

  .info-money {
    display: flex;
  }

  .iii {
    margin-left: 70px;
  }

  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
  }
  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    padding-left: 122px;
    padding-bottom: 23px;
    background-color: black;
  }

  .sinhro-white {
    margin-top: 50px;
  }

  .icons {
    margin-top: 30px;
    margin-left: -20px;
  }
  .icons img {
    width: 33px;
    height: 33px;
    margin-left: 20px;
  }
  .logotip {
    margin-top: 147px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    color: #ffffff;
  }

  .adress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 185px;
  }

  .adress span {
    color: #ffffff;
    padding-left: 22px;
    padding-bottom: 3px;
  }

  .contact {
    width: 27px;
    height: 20px;
    color: #ffffff;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .wrapper {
    height: 100%;
  }

  .block-one {
    padding-left: 70.06px;
  }

  .sinhro {
    width: 64.86px;
    height: 38.23px;
    margin-top: 22px;
  }

  .list-one {
    display: flex;
    margin-top: 57.92px;
  }
  .ops {
    margin-left: 14.48px;
  }

  .list-one img {
    width: 12.74px;
    height: 12.74px;
  }

  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    color: #000000;
    margin-left: 5px;
  }

  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 7.51px;
    margin-bottom: 0;
  }

  .second {
    display: flex;
    justify-content: space-between;
  }

  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }

  .man-order {
    width: 176.07px;
    height: 206.18px;
    /* margin-top: 138.99px; */
    margin-right: 142.48px;
  }



  .block-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280.11px;
    height: 115.83px;
    background: #1e4681;
    border-radius: 5px;
    margin-left: 237px;
    margin-top: 70px;
  }

  .block-blue div {
    width: 249.38px;
    height: 65.45px;
    margin: 11.15px 15.65px 39.24px 15.08px;
  }

  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    margin: 0;
  }

  .block-blue span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;
    margin-left: 134px;
  }

  .wrappers {
    margin-right: 88.61px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
  }

  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }

  .text-block-one {
    width: 383.41px;
    height: 216.61px;
  }

  .logo {
    width: 181.86px;
    height: 182.44px;
  }

  .logo-second {
    width: 211.98px;
    height: 34.17px;
    top: 100px;
    position: absolute;
    left: 637px;
    top: 165px;
    z-index: -1;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }

  .logo-two {
    width: 232px;
    height: 203px;
  }

  .tt {
    display: flex;
    justify-content: space-between;
    margin-top: 54.44px;
    margin-bottom: 103.09px;
    margin-right: 250px;
    position: relative;
  }

  .em {
    position: absolute;
    width: 167.46px;
    height: 18.53px;
    top: 193px;
    left: 43px;
    z-index: -1;
  }

  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
  }

  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }

  .format-lessons {
    display: flex;
    margin-left: -44px;
  }

  .format-lessons div {
    margin-left: 50px;
  }

  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #1e4681;
  }

  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .whats-new {
    margin-top: 144.55px;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
  }

  ul {
    margin-top: 12.16px;
    margin-bottom: 143.66px;
  }

  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }

  .programs {
    font-family: Roboto Slab;
    margin: 0px 239.77px 55.02px 70.08px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
  }

  .painters {
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 2.27vw;
    width: 26.5vw;
    height: 22vw;
    border-radius: 8%;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    height: 51.22%;
    padding: 5%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .painters img {
    width: 26.5vw;
  }

  .ui {
    margin: 0;
    font-size: 2.08vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
  }

  .uii {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    font-size: 2.08vw;
  }

  .uu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .uuu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    padding: 52.7px 191.7px 19.69px 0px;
    padding-left: -2px;
  }

  .person {
    background: #efefef;
    padding-bottom: 64.29px;
    padding-left: 72.97px;
  }

  .block-person {
    width: 458.12px;
    height: 261.2px;
    background: #ffffff;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
    /* margin-left: 72.97px; */
    margin-right: 302.9px;
    /* margin-bottom: 64.29px; */
  }

  .block-person p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    padding-top: 23.17px;
    padding-left: 26.06px;
    padding-right: 26.64px;
    padding-bottom: 6px;
    margin: 0;
  }

  .girl {
    width: 110.04px;
    height: 97.88px;
    margin-left: 15.06px;
    margin-bottom: 16.8px;
  }

  .info-about-person {
    display: flex;
  }

  .id-person {
    margin-top: 28.96px;
    margin-left: 17.38px;
  }

  .info-about-person p {
    padding: 0;
  }

  .fb {
    width: 18.53px;
    height: 17.95px;
    margin-top: 3px;
  }

  .money {
    background: #9dc9c8;
    padding-left: 70.66px;
    padding-top: 103.67px;
    padding-bottom: 107.15px;
    padding-right: 237.46px;
  }

  .month {
    margin-top: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 31.27px;
  }

  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    margin: 0;
  }

  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
  }

  .info-money {
    display: flex;
  }

  .info-money div:nth-child(2) {
    margin-left: 40.54px;
  }

  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
  }

  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    background-color: black;
    padding-top: 29px;
    padding-left: 70.66px;
    padding-right: 85px;
    padding-bottom: 13.32px;
  }

  .adress {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  .adress span {
    margin-left: 13px;
  }

  .logotip {
    color: white;
    margin-top: 85px;
  }

  .icons {
    margin-left: -12px;
  }

  .icons img {
    margin-top: 17.38px;
    width: 19px;
    height: 19px;
    margin-left: 12px;
  }

  .contact {
    width: 15.64px;
    height: 15.64px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }

  .block-one {
    padding-left: 35px;
  }

  .sinhro {
    width: 52.19px;
    height: 30.75px;
    margin-top: 36px;
    margin-bottom: 45px;
  }
  .list-one {
    display: flex;
  }

  .list-one img {
    width: 10.25px;
    height: 9.79px;
  }

  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
  }
  .ops {
    margin-left: 6px;
    padding-bottom: 0;
  }

  h1 {
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 8px;
  }

  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }

  .man-order {
    margin-right: 32.34px;
    margin-left: 182px;
    width: 141.66px;
    height: 165.89px;
  }

  .block-blue {
    width: 225.36px;
    height: 93.19px;
    background: #1e4681;
    border-radius: 2.32986px;
  }

  .block-blue p {
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #ffffff;
    padding: 8.97px 12.59px 0px 12.13px;
  }

  .block-blue span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;
    margin-left: 113.07px;
  }

  .kurs {
    margin-top: 75.08px;
    margin-bottom: 8.3px;
  }

  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }

  .text-block-one {
    margin: 0px 30.53px 56px 0px;
  }

  .logo {
    margin-left: 54px;
    margin-bottom: 59.22px;
  }

  .logo-two,
  .em {
    display: none;
  }

  .tt {
    display: flex;
    flex-wrap: wrap;
  }

  .ty h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
  }

  .ty p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }

  .ty {
    margin-left: 33px;
    margin-bottom: 0;
  }

  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 16.66px;

    margin-top: 76px;
    color: #000000;
  }

  .format-lessons {
    display: flex;
    flex-direction: column;
  }

  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 2px;

    color: #1e4681;
  }
  .format-lessons div {
    margin-bottom: 15px;
  }
  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;

    color: #000000;
  }
  .nnn {
    margin-bottom: 0 !important;
  }

  .nnn p {
    margin-bottom: 0 !important;
  }

  .whats-new {
    margin-top: 73px;
  }

  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    color: #000000;
  }

  ul {
    margin-left: -23px;
    margin-top: 10px;
    margin-bottom: 85px;
  }

  .programs {
    text-align: center;
    margin-top: 0;
    /* margin-left: 20%; */
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
  }

  .painters {
    padding-top: 36.66px;
    padding-bottom: 47.16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 185.92px;
    height: 152.84px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    margin-bottom: 24.16px;
    border-radius: 13.9792px;
  }

  .painters img {
    width: 185.92px;
    height: 74.56px;
  }

  .ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-top: 5px;
    margin-left: 9.32px;
    margin-bottom: 14.91px;
  }

  .uu {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    margin-left: 8.82px;
    margin-bottom: 10.72px;
  }

  .uii {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 97%;
    color: #000000;
    margin-top: 7.46px;
    margin-left: 9.32px;
    margin-bottom: 0;
  }

  .uuu {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    margin-top: 3px;
    margin-left: 8.82px;
    margin-bottom: 10.72px;
  }

  .person {
    background: #efefef;
    padding: 42px 83px 53px 15px;
  }

  .block-person {
    width: 308px;
    height: 248px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }

  .block-person p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    padding: 18.47px 21px 0px 21px;

    color: #000000;
  }

  .girl {
    width: 80px;
    height: 84px;
  }

  .fb {
    width: 14.91px;
    height: 17.2px;
    margin-left: 22px;
  }

  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
  }

  .info-about-person {
    display: flex;
    margin-left: 21px;
    margin-bottom: 12px;
  }

  .money {
    padding-left: 57px;
    padding-top: 62px;
    padding-bottom: 63.46px;
    background: #9dc9c8;
  }
  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    /* margin-right: 390px; */
    color: #000000;
    margin-bottom: 0;
  }

  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 22.93px;
    margin-bottom: 0;
  }

  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 101.38%;
    color: #000000;
  }

  .info-money {
    display: flex;
  }

  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
  }

  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
  }

  .iii {
    margin-left: 31px;
  }

  footer {
    background-color: black;
    color: white;
    padding-top: 23.3px;
    padding-left: 57px;
    padding-bottom: 10px;
  }



  .sinhro-white {
    width: 53.59px;
    height: 31.69px;
  }
  .icons img {
    display: inline;
    width: 15px;
    height: 15px;
    margin-bottom: 50px;
    margin-top: 13px;
  }

  .contact {
    width: 12.58px;
    height: 8.39px;
  }

  .adress span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    margin-left: 10px;

    color: #ffffff;
  }

  .logotip {
    margin-bottom: 0;
    margin-top: 49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #ffffff;
  }
}
